In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/Salary Data.csv")
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [4]:
selected_column=df[['Gender','Education Level','Job Title','Years of Experience','Salary']]
selected_column

,Gender,Education Level,Job Title,Years of Experience,Salary
0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,Female,Master's,Data Analyst,3.0,65000.0
2,Male,PhD,Senior Manager,15.0,150000.0
3,Female,Bachelor's,Sales Associate,7.0,60000.0
4,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...
370,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,Male,Master's,Director of Operations,19.0,170000.0
372,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,Female,PhD,Senior Business Analyst,15.0,150000.0

In [5]:
df.isnull

<bound method DataFrame.isnull of       Age  Gender Education Level                      Job Title  \
0    32.0    Male      Bachelor's              Software Engineer
1    28.0  Female        Master's                   Data Analyst
2    45.0    Male             PhD                 Senior Manager
3    36.0  Female      Bachelor's                Sales Associate
4    52.0    Male        Master's                       Director
..    ...     ...             ...                            ...
370  35.0  Female      Bachelor's       Senior Marketing Analyst
371  43.0    Male        Master's         Director of Operations
372  29.0  Female      Bachelor's         Junior Project Manager
373  34.0    Male      Bachelor's  Senior Operations Coordinator
374  44.0  Female             PhD        Senior Business Analyst

     Years of Experience    Salary
0                    5.0   90000.0
1                    3.0   65000.0
2                   15.0  150000.0
3                    7.0   60000.0
4                   20.0  200000.0
..                   ...       ...
370                  8.0   85000.0
371                 19.0  170000.0
372                  2.0   40000.0
373                  7.0   90000.0
374                 15.0  150000.0

[375 rows x 6 columns]>

In [6]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [8]:
df.duplicated().sum()

50

In [9]:
df[df.duplicated()].head(30)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
195,28.0,Male,Bachelor's,Junior Business Analyst,2.0,40000.0
250,30.0,Female,Bachelor's,Junior Marketing Coordinator,2.0,40000.0
251,38.0,Male,Master's,Senior IT Consultant,9.0,110000.0
252,45.0,Female,PhD,Senior Product Designer,15.0,150000.0
253,28.0,Male,Bachelor's,Junior Business Development Associate,2.0,40000.0
254,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
255,44.0,Male,Bachelor's,Senior Software Engineer,14.0,130000.0
256,34.0,Female,Master's,Senior Financial Advisor,6.0,100000.0
257,35.0,Male,Bachelor's,Senior Project Coordinator,9.0,95000.0
258,50.0,Female,PhD,Director of Operations,22.0,180000.0
260,NaN,NaN,NaN,NaN,NaN,NaN
262,46.0,Male,PhD,Senior Data Scientist,18.0,160000.0
281,41.0,Female,Bachelor's,Senior Project Coordinator,11.0,95000.0
287,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
303,45.0,Male,PhD,Senior Data Engineer,16.0,150000.0
306,49.0,Female,Master's,Director of Marketing,21.0,180000.0
307,31.0,Male,Bachelor's,Junior Operations Analyst,3.0,50000.0
309,47.0,Male,Master's,Director of Marketing,19.0,170000.0
310,29.0,Female,Bachelor's,Junior Business Development Associate,1.5,35000.0
311,35.0,Male,Bachelor's,Senior Financial Manager,9.0,100000.0
312,44.0,Female,PhD,Senior Product Designer,15.0,150000.0
313,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
314,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
315,44.0,Male,Bachelor's,Senior Software Engineer,13.0,130000.0
317,36.0,Male,Bachelor's,Senior Marketing Specialist,8.0,95000.0
328,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
345,33.0,Male,Bachelor's,Junior Business Analyst,4.0,60000.0
346,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
352,38.0,Female,Bachelor's,Senior Business Analyst,10.0,110000.0
353,48.0,Male,Master's,Director of Marketing,21.0,180000.0

In [10]:
# Drop Duplicates Records
df.drop_duplicates(inplace=True)

# Reset Our Index to be Orderd
df.reset_index(inplace=True, drop=True)

In [11]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [12]:
df["Job Title"].unique()

array(['Software Engineer', 'Data Analyst', 'Senior Manager',
       'Sales Associate', 'Director', 'Marketing Analyst',
       'Product Manager', 'Sales Manager', 'Marketing Coordinator',
       'Senior Scientist', 'Software Developer', 'HR Manager',
       'Financial Analyst', 'Project Manager', 'Customer Service Rep',
       'Operations Manager', 'Marketing Manager', 'Senior Engineer',
       'Data Entry Clerk', 'Sales Director', 'Business Analyst',
       'VP of Operations', 'IT Support', 'Recruiter', 'Financial Manager',
       'Social Media Specialist', 'Software Manager', 'Junior Developer',
       'Senior Consultant', 'Product Designer', 'CEO', 'Accountant',
       'Data Scientist', 'Marketing Specialist', 'Technical Writer',
       'HR Generalist', 'Project Engineer', 'Customer Success Rep',
       'Sales Executive', 'UX Designer', 'Operations Director',
       'Network Engineer', 'Administrative Assistant',
       'Strategy Consultant', 'Copywriter', 'Account Manager',
       'Director of Marketing', 'Help Desk Analyst',
       'Customer Service Manager', 'Business Intelligence Analyst',
       'Event Coordinator', 'VP of Finance', 'Graphic Designer',
       'UX Researcher', 'Social Media Manager', 'Director of Operations',
       'Senior Data Scientist', 'Junior Accountant',
       'Digital Marketing Manager', 'IT Manager',
       'Customer Service Representative', 'Business Development Manager',
       'Senior Financial Analyst', 'Web Developer', 'Research Director',
       'Technical Support Specialist', 'Creative Director',
       'Senior Software Engineer', 'Human Resources Director',
       'Content Marketing Manager', 'Technical Recruiter',
       'Sales Representative', 'Chief Technology Officer',
       'Junior Designer', 'Financial Advisor', 'Junior Account Manager',
       'Senior Project Manager', 'Principal Scientist',
       'Supply Chain Manager', 'Senior Marketing Manager',
       'Training Specialist', 'Research Scientist',
       'Junior Software Developer', 'Public Relations Manager',
       'Operations Analyst', 'Product Marketing Manager',
       'Senior HR Manager', 'Junior Web Developer',
       'Senior Project Coordinator', 'Chief Data Officer',
       'Digital Content Producer', 'IT Support Specialist',
       'Senior Marketing Analyst', 'Customer Success Manager',
       'Senior Graphic Designer', 'Software Project Manager',
       'Supply Chain Analyst', 'Senior Business Analyst',
       'Junior Marketing Analyst', 'Office Manager', 'Principal Engineer',
       'Junior HR Generalist', 'Senior Product Manager',
       'Junior Operations Analyst', 'Senior HR Generalist',
       'Sales Operations Manager', 'Senior Software Developer',
       'Junior Web Designer', 'Senior Training Specialist',
       'Senior Research Scientist', 'Junior Sales Representative',
       'Junior Marketing Manager', 'Junior Data Analyst',
       'Senior Product Marketing Manager', 'Junior Business Analyst',
       'Senior Sales Manager', 'Junior Marketing Specialist',
       'Junior Project Manager', 'Senior Accountant', 'Director of Sales',
       'Junior Recruiter', 'Senior Business Development Manager',
       'Senior Product Designer', 'Junior Customer Support Specialist',
       'Senior IT Support Specialist', 'Junior Financial Analyst',
       'Senior Operations Manager', 'Director of Human Resources',
       'Junior Software Engineer', 'Senior Sales Representative',
       'Director of Product Management', 'Junior Copywriter',
       'Senior Marketing Coordinator', 'Senior Human Resources Manager',
       'Junior Business Development Associate', 'Senior Account Manager',
       'Senior Researcher', 'Junior HR Coordinator',
       'Director of Finance', 'Junior Marketing Coordinator', nan,
       'Junior Data Scientist', 'Senior Operations Analyst',
       'Senior Human Resources Coordinator', 'Senior UX Designer',
       'Junior Product Manager', 'Senior Marketing Specialist',
       'Senior IT Project Manager', 'Senior Quality Assurance Analyst',
       'Director of Sales and Marketing', 'Senior Account Executive',
       'Director of Business Development', 'Junior Social Media Manager',
       'Senior Human Resources Specialist', 'Senior Data Analyst',
       'Director of Human Capital', 'Junior Advertising Coordinator',
       'Junior UX Designer', 'Senior Marketing Director',
       'Senior IT Consultant', 'Senior Financial Advisor',
       'Junior Business Operations Analyst',
       'Junior Social Media Specialist',
       'Senior Product Development Manager', 'Junior Operations Manager',
       'Senior Software Architect', 'Junior Research Scientist',
       'Senior Financial Manager', 'Senior HR Specialist',
       'Senior Data Engineer', 'Junior Operations Coordinator',
       'Director of HR', 'Senior Operations Coordinator',
       'Junior Financial Advisor', 'Director of Engineering'],
      dtype=object)

In [13]:
df = df.fillna({
    'Age': df['Age'].mean(),
    'Gender': df['Gender'].mode()[0],
    'Education Level': df['Education Level'].mode()[0],
    'Job Title': df['Job Title'].mode()[0],
    'Years of Experience': df['Years of Experience'].mean(),
    'Salary': df['Salary'].mean()
})

In [14]:
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
320,28.0,Female,Bachelor's,Junior Operations Manager,1.0,35000.0
321,36.0,Male,Bachelor's,Senior Business Development Manager,8.0,110000.0
322,44.0,Female,PhD,Senior Data Scientist,16.0,160000.0
323,31.0,Male,Bachelor's,Junior Marketing Coordinator,3.0,55000.0
324,43.0,Male,Master's,Director of Operations,19.0,170000.0

In [15]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [16]:

df['Gender'] = df['Gender'].replace({'Male': 0, 'Female': 1})

In [17]:
df['Education Level'] = df['Education Level'].replace({"Bachelor's": 0, "Master's": 1, "PhD":2})
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,0,0,Software Engineer,5.0,90000.0
1,28.0,1,1,Data Analyst,3.0,65000.0
2,45.0,0,2,Senior Manager,15.0,150000.0
3,36.0,1,0,Sales Associate,7.0,60000.0
4,52.0,0,1,Director,20.0,200000.0
...,...,...,...,...,...,...
320,28.0,1,0,Junior Operations Manager,1.0,35000.0
321,36.0,0,0,Senior Business Development Manager,8.0,110000.0
322,44.0,1,2,Senior Data Scientist,16.0,160000.0
323,31.0,0,0,Junior Marketing Coordinator,3.0,55000.0
324,43.0,0,1,Director of Operations,19.0,170000.0

In [18]:
from sklearn.preprocessing import LabelEncoder
encoded = LabelEncoder()
df['Job Title'] = encoded.fit_transform(df['Job Title'])
df["Job Title"].unique()

array([159,  17, 130, 101,  22,  81,  93, 104,  82, 150, 158,  40,  36,
        96,  13,  89,  83, 116,  18, 102,   3, 172,  44,  98,  37, 157,
       160,  57, 112,  92,   6,   1,  19,  84, 167,  39,  95,  16, 103,
       169,  88,  85,   2, 162,  10,   0,  29,  41,  12,   5,  34, 171,
        38, 170, 156,  30, 115,  47,  21,  43,  14,   4, 118, 173,  99,
       166,  11, 153,  42,   9, 165, 106,   8,  56,  35,  46, 144,  91,
       164, 134, 168, 100,  76,  97,  87,  94, 122,  80, 143,   7,  20,
        45, 131,  15, 120, 161, 163, 110,  62,  86,  90,  61, 141,  66,
       121, 105, 152,  79, 154, 146,  73,  64,  54, 142,  49, 148,  65,
        70, 109,  32,  71, 111, 139,  53, 129,  59, 138,  28,  77, 149,
        31,  52, 132, 125,  50, 108, 147,  60,  25,  63,  55, 136, 124,
       155,  69, 135, 128, 145,  33, 107,  23,  74, 126, 113,  27,  48,
        78, 133, 127, 117,  51,  75, 140,  68, 151,  72, 119, 123, 114,
        67,  26, 137,  58,  24])

In [19]:
X = df.drop(columns = ['Salary'])
y = df['Salary']

In [20]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [35]:
model = RandomForestRegressor(n_estimators=10, random_state=42)
model.fit(X_train, y_train)
from sklearn.metrics import mean_squared_error
# Make predictions on the test set
y_pred = model.predict(X_test)
y_pred
# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 225572471.4089751

In [36]:
y_pred

array([ 61000.        ,  97995.69444444, 146000.        , 147500.        ,
       173000.        ,  67500.        , 144000.        ,  32802.5       ,
        86500.        , 155000.        , 134000.        ,  35767.5       ,
        58500.        , 110000.        ,  64000.        ,  98000.        ,
       103500.        ,  40000.        ,  91500.        , 124000.        ,
        95500.        ,  50500.        , 146000.        ,  92500.        ,
       172000.        , 116000.        , 169500.        , 127498.56481481,
       174000.        ,  90500.        ,  38345.        , 155500.        ,
        59500.        , 107000.        ,  99500.        , 163000.        ,
        42000.        , 141500.        , 161000.        ,  82500.        ,
       163000.        ,  62000.        , 140500.        , 129498.56481481,
       115500.        ,  49500.        ,  44500.        , 109500.        ,
       174500.        ,  94000.        ,  51000.        , 124000.        ,
       100000.        , 142000.        ,  37000.        , 192000.        ,
       107500.        , 122000.        , 116000.        ,  87491.38888889,
        89997.12962963, 116000.        ,  97500.        ,  43500.        ,
       116500.        ,  69500.        ,  99000.        ,  38000.        ,
        92000.        , 106500.        , 125000.        , 103500.        ,
        39500.        , 178000.        ,  40000.        ,  73998.56481481,
        33535.        , 149000.        ,  97500.        ,  67500.        ,
        91500.        ,  54500.        ,  40000.        , 126000.        ,
        92500.        , 122000.        ,  44500.        ,  91500.        ,
       169000.        ,  87500.        , 172000.        , 173000.        ,
        39500.        ,  42000.        , 152000.        , 169500.        ,
       142000.        ,  35767.5       ])

In [63]:
new_data = pd.DataFrame({
    'Age': [35.0],
    'Gender': [0],
    'Education Level': [1],
    'Job Title': ['Senior Data Scientist'],
    'Years of Experience': [10.0]
})

# Convert categorical variables to numerical using one-hot encoding
new_data_encoded = pd.get_dummies(new_data)

# Make predictions on the new set of features
predicted_salary = model.predict(new_data_encoded)

print('Predicted Salary:', predicted_salary)

Predicted Salary: [161000.]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [67]:
data1 = pd.DataFrame({
    'Age': [31.0],
    'Gender': [1],
    'Education Level': [2],
    'Job Title': ['Junior Marketing Coordinator'],
    'Years of Experience': [3.0]
})

encoded=pd.get_dummies(data1)
salary=model.predict(encoded)
salary

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

array([155000.])